# Dependencies
node_modules
.pnp
.pnp.js

# Production
.next/
out/
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage directory used by tools like istanbul
coverage

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Cypress
cypress/screenshots
cypress/videos
